<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}
My rent
{% endblock %}
{% block content %}
<main class="container mt-header">
	<div class="row" role="tablist">
		<div class="col-lg-3 d-flex flex-column nav nav-pills">
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_orange SelfStorage_tab active" id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab" aria-controls="LK" aria-selected="true">Личный кабинет</button>
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab" data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent" aria-selected="false">Моя аренда</button>
			<a href="{% url 'main_site:faq' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">FAQ</a>
			<a href="{% url 'main_site:logout' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Выйти</a>
		</div>
		<div class="col-lg-9">
			<div class="card tab-content p-5">
				<div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">



							<form method="post">
                {% csrf_token %}
                <div class="row">
                <div class="col-12 col-sm-5 d-flex flex-column align-items-center">
                  <img src="{% static 'img/image10.png' %}" class="rounded-pill mb-3" alt="">
                </div>
                <div class="col-12 col-sm-7 d-flex flex-column">
                  <div class="form-error">{{ form.non_field_errors }}</div>
                  {% for f in user_form %}
                    <label class="fs_24 SelfStorage_green ms-2" for="{{ f.id_for_label }}">{{f.label}}</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                  {% endfor %}
                <button type="submit" class="btn SelfStorage_green ps-1" id="save" style="display: none">Сохранить</button>
                <a class="btn SelfStorage_orange ps-1" id="edit">Редактировать</a>
                </div>
                  </div>
                  <script>
                    document.getElementById('edit').addEventListener('click', e => {
                      e.preventDefault()
                      document.getElementById('username').disabled = false
                      document.getElementById('email').disabled = false
                      document.getElementById('phonenumber').disabled = false
                      document.getElementById('password1').disabled = false
                        document.getElementById('password2').disabled = false
                      {#document.getElementById('password').type = 'text'#}
                      document.getElementById('edit').style.display = 'none'
                      document.getElementById('save').style.display = 'inline-block'
                    })
                    document.getElementById('save').addEventListener('click', () => {
                      setTimeout(() => {
                        document.getElementById('username').disabled = true
                        document.getElementById('email').disabled = true
                        document.getElementById('phonenumber').disabled = true
                        document.getElementById('password1').disabled = true
                          document.getElementById('password2').disabled = true
                        {#document.getElementById('password').type = 'password'#}
                        document.getElementById('edit').style.display = 'inline-block'
                        document.getElementById('save').style.display = 'none'
                      }, 0)
                    })
                  </script>
							</form>


				</div>
				<div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
					<h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{ request.user.username }}!</h1>
					<a href="#" class="SelfStorage_orange">История аренды</a>
          {% for subscription in subscriptions %}
            {% if subscription.end_date < payment_soon %}
              <h4 class="SelfStorage_grey my-3">Срок Вашей аренды подходит к концу :(<br>Вы можете продлить аренду или забрать вещи до {{ subscription.end_date }} включительно.</h4>
            {% endif %}
            <div class="mb-5">
              <h4 class="SelfStorage_green">Мой склад №{{ forloop.counter }}</h4>
              <h4>{{ subscription.box.storage.address }}</h4>
              <h4 class="SelfStorage_green">Мой бокс</h4>
              <h4>№{{ subscription.box.number }}</h4>
              <h4 class="SelfStorage_green">Срок аренды</h4>
              <h4>{{ subscription.start_date }} - {{ subscription.end_date }}</h4>
              <div><a href="{% url 'payment:make_payment'  subscription.box.pk %}" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Продлить аренду</a></div>
              <div><a href="{% url 'main_site:open_box' box_id=subscription.box.id %}" target="_blank"><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Открыть бокс</button></a></div>
              <a href="#" class="SelfStorage_orange">Нужна помощь?</a>
            </div>
          {% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}